<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/users/join}"  th:object="${request}" method="post" >
    <table class="table">
        <tbody>
        <tr>
            <td>이메일</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="text" name="password"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr style="display: none">
            <td><input type="text" name="userRole" value="manager"></td>
        </tr>
        </tbody>
        <button type="submit">등록</button>
    </table>
</form>
</body>
</html>